{% extends "checkband/base.html" %}
{#这个是右边的内容#}
{% block body %}
    {#        这个是查询窗口#}
    <div class="row">
        <div class="col-md-12">
            <form method="post" action="{{ url_for('.postdata')}}">
                {{ formsearch.hidden_tag() }}
                <div class="row">
                    {{ formsearch.btnadd }}
                    {{ formsearch.btndel }}
                    {{ formsearch.btnedit }}
                </div>
                <br></br>
                <div class="row">
                    <div class="col-lg-3">
                        <div class="form-group">
                            {{ formsearch.name.label(class_="control-label") }}
                            {{ formsearch.name(class_="form-control") }}
                        </div>
                    </div>

                    <div class="col-lg-offset-9">
                        {{ formsearch.search }}
                    </div>
                </div>
{#                数据表部分#}
                <div class="row">
                    {{ formfunc(endpoint,data)}}
                </div>
            </form>
        </div>

    </div>


{% endblock %}